/scripts/.Rhistory
/PiCnIc-COADREAD-logfile.txt

TCGA-COADREAD-TRONCO.zip

TCGA-data/Clinical/crc_clinical_sheet.txt

TCGA-data/Clusters/TCGA-clusters.csv

TCGA-data/CNV/crc_gistic.txt

TCGA-data/Mutations/TCGA_CRC_Suppl_Table2_Mutations_20120719.csv

TCGA-data/Mutex/msi_results.txt

TCGA-data/Mutex/mss_results.txt
.Rproj.user

PiCnIc-COADREAD.Rproj

.Rapp.history

.DS_Store

*.Rdata

*.pdf
/PicNiC-COADREAD.statistics.xlsx
